<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.sampleprojectbpmn/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.sampleprojectbpmn.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Software.browse"
              caption="msg://com.company.sampleprojectbpmn.screen.software/softwareBrowse.menu"/>
        <item screen="Department.browse"
              caption="msg://com.company.sampleprojectbpmn.screen.department/departmentBrowse.menu"/>
        <item screen="WorkspaceRequest.browse"
              caption="msg://com.company.sampleprojectbpmn.screen.workspacerequest/workspaceRequestBrowse.menu"/>
    </menu>

</menu-config>